#*#
**/.DS_Store
dist-newstyle/
*.hi
*.log
*.o
*.prof
*.swp
*.tix
*~
.#*
.DS_Store
.hpc
cabal-dev/
dist/
docs/templates/out
sitekey.txt
test/test-cabal-dev
test/test-snap-exe
cabal.sandbox.config
.cabal-sandbox/
